node_modules/
dist/
build/
.env
docs/reports/
tools/archive/
.DS_Store
coverage/
*.zip
*.tsbuildinfo
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
apps/*/src/**/*.js
apps/*/src/**/*.js.map
apps/*/src/**/*.d.ts
apps/*/src/**/*.d.ts.map
